<?xml version="1.0"?>
<config>
  <modules>
    <SwipeHQ_Checkout>
      <version>1.7.0</version><!-- todo: what's the point of this version number? where is it used? -->
    </SwipeHQ_Checkout>
  </modules>
  <global>
    <models>
      <swipehq>
        <class>SwipeHQ_Checkout_Model</class>
      </swipehq>
    </models>
    <helpers>
      <swipehq>
        <class>SwipeHQ_Checkout_Helper</class>
      </swipehq>
    </helpers>
    <blocks>
      <swipehq>
        <class>SwipeHQ_Checkout_Block</class>
      </swipehq>
    </blocks>
  </global>
  <default>
    <payment>
      <swipehq>
        <model>swipehq/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Swipe Checkout</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </swipehq>
    </payment>
  </default>
  <frontend>
    <routers>
      <swipehq>
        <use>standard</use>
        <args>
          <module>SwipeHQ_Checkout</module>
          <frontName>swipehq</frontName>
        </args>
      </swipehq>
    </routers>
  </frontend>
</config>